<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<!--    camera-->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- gallery -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Profile"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Profile"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".WishlistActivity"
            android:exported="false" />


        <activity
            android:name=".VenuesActivity"
            android:exported="false" />

        <activity
            android:name=".PhotographyActivity"
            android:exported="false" />

        <activity
            android:name=".BridalWearActivity"
            android:exported="false" />

        <activity
            android:name=".FloralActivity"
            android:exported="false" />

        <activity
            android:name=".JewelleryActivity"
            android:exported="false" />

        <activity
            android:name=".EntertainmentActivity"
            android:exported="false" />

        <activity
            android:name=".WeddingCarActivity"
            android:exported="false" />

        <activity
            android:name=".BeauticianBrideActivity"
            android:exported="false" />

        <activity
            android:name=".BeauticianGroomActivity"
            android:exported="false" />

        <activity
            android:name=".GroomWearActivity"
            android:exported="false" />

        <activity
            android:name=".InvitationActivity"
            android:exported="false" />

        <activity android:name=".LoginActivity"
            android:exported="false"/>

        <activity android:name=".RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />

        <activity android:name=".PlannerDashboardActivity"
            android:exported="false" >
            
        </activity>





 <activity
            android:name=".CoupleProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Profile">
        
        </activity>

        <!-- Home  -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Profile" />


        <activity
            android:name=".ChatWithPlannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Profile" />

        <!-- vendor Selection Activity -->
        <activity
            android:name=".VendorSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Profile" />

<!--        budget Activity -->
        <activity
            android:name=".BudgetOverviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Profile" />

        <activity
            android:name=".BudgetOverviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Profile" />


        <activity
            android:name=".CoupleDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Profile" />


        <activity
            android:name=".CheckListActivity"
            android:exported="false"
            android:theme="@style/Theme.Profile" />


        <activity
            android:name=".WeddingPlannersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

            


    </application>



</manifest>